<section class="container">
<form ng-submit="$ctrl.addItem($ctrl.newItem)">
    <input type="text" ng-model="$ctrl.newItem.product">
    <input type="text" ng-model="$ctrl.newItem.price">
    <input type="text" ng-model="$ctrl.newItem.quantity">
    <button>Add Item</button>
</form>

<section class="list-items" ng-repeat="item in $ctrl.listOfItems">
    <input ng-blur="$ctrl.updateItem(item)" ng-model="item.product" type="text">
    <input ng-blur="$ctrl.updateItem(item)" ng-model="item.price" type="text">
    <input ng-blur="$ctrl.updateItem(item)" ng-model="item.quantity" type="text">
    <button ng-click="$ctrl.deleteItem(item.id)">X</button>
</section>